[Desktop Entry]
Version=0.1.1
Type=Application

Name=Online tutor
Comment=Online tutor app
Categories=Education;Languages;

Icon=flutter_online_tutor.svg
Exec=flutter_online_tutor
Terminal=false
StartupWMClass=flutter_online_tutor
